<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>

<div class="container">
<main>

{% for sensor_id, sensor_conf in sensor_confs.items() %}
<div class="card-panel">
    <label style='color:{{ sensor_conf['color'] }}'>{{ sensor_conf['name'] }}<span id="sensor_{{sensor_id}}" style="margin: 0 16px;">...</span></label>
</div>
{% endfor %}

{% for toggle_id, toggle_conf in toggle_confs.items() %}
<div class="card-panel">
  <div class="switch">
    <label style='color:{{ toggle_conf['color'] }}'>
      {{ toggle_conf['name'] }}
      <input type="checkbox" id="{{toggle_id}}" onchange="toggle(this)">
      <span class="lever"></span>
    </label>
  </div>
</div>
{% endfor %}

<script>
function toggle(element) {
    $.getJSON( "/data/toggle/" + element.id + "/" + element.checked,
            function( resp ) {
                element.checked = resp;
            });
}
function setCurrentTemp () {
    $.getJSON( "/data/now", function( resp ) {
        var s = "";
        for (var sensor_id in resp['sensors'])
        {
            $("#sensor_" + sensor_id)[0].innerHTML = "" +
                Math.round(10*resp['sensors'][sensor_id]["temperature"])/10 + "°C " +
                Math.round(10*resp['sensors'][sensor_id]["humidity"])/10 + "%";
        }
        setTimeout(setCurrentTemp, 1*1000);
    });
}
$(document).ready(function() {
setCurrentTemp();
{% for toggle_id in toggle_confs.keys() %}
$.getJSON( "/data/toggle/{{toggle_id}}",
    function( resp ) {
	$("#{{toggle_id}}")[0].checked = resp;
    });
{% endfor %}
})
</script>
</main>
</div>
</body>
</html>
