{% extends "base.html" %}
{% block content %}
{% for group, elements in conf.groups %}
    <h5 style='color:{{group['color']}}'>{{ group['name'] }}</h5>
    <div class='row'>
    {% for element_id, element in elements %}
        <div class='col s12 m6 l4'>
        <p>
        {% if element['element_type'] == 'sensor' %}
        <label>{{ element['name'] }}</label><span id="sensor_{{element['id']}}">...</span>
        {% elif element['element_type'] == 'toggle' %}
          <span>{{ element['name'] }}</span>
	  <div class="preloader-wrapper small active" id="{{element['id']}}_preloader">
	    <div class="spinner-layer spinner-green-only">
	      <div class="circle-clipper left">
		<div class="circle"></div>
	      </div><div class="gap-patch">
		<div class="circle"></div>
	      </div><div class="circle-clipper right">
		<div class="circle"></div>
	      </div>
	    </div>
	  </div>
            <div id="{{element['id']}}_reload" style="display: none">
            <i class="material-icons" onclick="loadToggle('{{element['id']}}')">refresh</i>
            </div>
            <div class="switch" id="{{element['id']}}_switch" style="display: none">
              <label>
                  <!--<span>{{ element['name'] }}</span>-->
                <input type="checkbox" id="{{element['id']}}" onchange="toggle(this)">
                <span class="lever"></span>
              </label>
            </div>
        {% endif %}
        </p>
        </div>
    {% endfor %}
    </div>
{% endfor %}

<main>
</main>
<script>
function toggle(element) {
    $.getJSON( "/data/toggle/" + element.id + "/" + element.checked,
            function( resp ) {
                element.checked = resp;
            });
}
function setCurrentTemp () {
    $.getJSON( "/data/now", function( resp ) {
        var s = "";
        for (var sensor_id in resp['sensors'])
        {
            $("#sensor_" + sensor_id)[0].innerHTML = "" +
                Math.round(10*resp['sensors'][sensor_id]["temperature"])/10 + "°C " +
                Math.round(10*resp['sensors'][sensor_id]["humidity"])/10 + "%";
        }
        setTimeout(setCurrentTemp, 1*1000);
    });
}
function loadToggle(toggle_id) {
    $.getJSON( "/data/toggle/" + toggle_id, function( resp ) {
        if (resp == true || resp == false) {
            $("#" + toggle_id + "_preloader")[0].style = 'display: none';
            $("#" + toggle_id + "_reload")[0].style = 'display: none';
            $("#" + toggle_id + "_switch")[0].style = '';
            $("#" + toggle_id)[0].checked = resp;
	} else {
            $("#" + toggle_id + "_preloader")[0].style = 'display: none';
            $("#" + toggle_id + "_reload")[0].style = '';
        }
    });
}
$(document).ready(function() {
setCurrentTemp();
{% for toggle_id in conf.toggles.keys() %}
    loadToggle("{{toggle_id}}");
{% endfor %}
})
</script>
{% endblock content %}
