{% extends "base.html" %}
{% block tabs %}
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
	<li class="tab col s2"><a href="#hour">Hour</a></li>
	<li class="tab col s2"><a href="#day">Day</a></li>
	<li class="tab col s2"><a href="#week">Week</a></li>
	<li class="tab col s2"><a href="#month">Month</a></li>
	<li class="tab col s2"><a href="#year">Year</a></li>
	<li class="tab col s2"><a href="#all">All</a></li>
      </ul>
    </div>
{% endblock tabs %}
{% block content %}
<div id="hour" class="col s12"></div>
<div id="day" class="col s12"></div>
<div id="week" class="col s12"></div>
<div id="month" class="col s12"></div>
<div id="year" class="col s12"></div>
<div id="all" class="col s12"></div>
<main>
<ul class="collection">
<li class="collection-item">
<div style="height: 200px;">
<canvas id="tempChart" style="height: 200px"></canvas>
</div>
</li>
<li class="collection-item">
<div style="height: 200px;">
<canvas id="humChart" style="height: 200px"></canvas>
</div>
</li>
<li class="collection-item">
<div style="height: 200px;">
<canvas id="toggleChart" style="height: 200px"></canvas>
</div>
</li>
</ul>
<script>
function convertHex(hex, opacity){
    hex = hex.replace('#','');
    r = parseInt(hex.substring(0,2), 16);
    g = parseInt(hex.substring(2,4), 16);
    b = parseInt(hex.substring(4,6), 16);

    result = 'rgba('+r+','+g+','+b+','+opacity/100+')';
    return result;
}

function createDatasets(sensors) {
    datasets = []
    for (var key in sensors)
    {
	    datasets.push(
		{
		    label: sensors[key]['name'] + '_min',
		    pointRadius: 0,
		    borderWidth: 1,
		    data: [],
		    backgroundColor: sensors[key]['bgColor'],
		    borderColor: sensors[key]['bgColor'],
		    key: key + '_min',
		    fill: '+2',
		}
	    );
	    datasets.push(
		{
		    label: sensors[key]['name'],
		    pointRadius: 0,
		    borderWidth: 2,
		    data: [],
		    backgroundColor: "rgba(0, 0, 0, 0)",
		    borderColor: sensors[key]['color'],
		    key: key,
		    fill: false,
		}
	    );
	    datasets.push(
		{
		    label: sensors[key]['name'] + '_max',
		    pointRadius: 0,
		    borderWidth: 1,
		    data: [],
		    backgroundColor: sensors[key]['bgColor'],
		    borderColor: sensors[key]['bgColor'],
		    key: key + '_max',
		    fill: false,
		}
	    );
    }
    return datasets;
}

timeFormats = {
    minute: 'H:mm',
    hour: 'D MMM, H:mm',
    day: 'D MMM',
    week: 'D MMM YYYY',
    month: 'MMM YYYY',
    quarter: 'MMM YYYY',
    year: 'YYYY',
}

function createChart(context, label, sensors)
{
    return new Chart(context, {
        type: 'line',
        data: {
            datasets: createDatasets(sensors)
        },
        options: {
            legend: {
                display: false
            },
            scales: {
                xAxes: [{
                    ticks: {minRotation: 45},
                    type: 'time',
                    time: { displayFormats: timeFormats },
                    position: 'bottom',
                }],
                yAxes: [{
                  scaleLabel: {
                    display: true,
                    labelString: label,
                  }
                }]
            },
            responsive: true,
            maintainAspectRatio: false,
            animation: false
        }
    });
}

graphUpdateTimeout=null;

sensors = {
{% for sensor_id, sensor_conf in sensor_confs.items() %}
'{{ sensor_id }}': {
        color: '{{ sensor_conf['color'] }}',
        bgColor: convertHex('{{ sensor_conf['color'] }}', 20),
        name: '{{ sensor_conf['name'] }}',
        },
{% endfor %}
};

window.charts = {}
window.charts['temperature'] = createChart($('#tempChart'), 'Temperature C', sensors);
window.charts['humidity'] = createChart($('#humChart'), 'Humidity %', sensors);
window.charts['toggle'] = createChart($('#toggleChart'), 'State 1/0', sensors);

function updateAll () {
	$.getJSON( "/data/now", function( resp ) {
            for (var key in window.charts) {
		window.charts[key].data.datasets.forEach((dataset) => {
		    if (dataset.key in resp['sensors'])
			    dataset.data[dataset.data.length - 1] = resp['sensors'][dataset.key][key];
		});
		window.charts[key].data.labels[window.charts[key].data.labels.length - 1] = resp['now'];

		window.charts[key].update();
	     }

	     setTimeout(updateAll, 10*1000);
	});
}

function replaceAllButLast(aOld, aNew)
{
	return aNew.slice(0, -1).concat(aOld.slice(-1));
}

function showGraph(range) {
	clearTimeout(graphUpdateTimeout);
        if (location.hash != '#' + range) {
            location.hash = '#' + range;
	}
	$.getJSON( "/data/" + range, function( resp ) {
		if (location.hash != '#' + range) {
		    // Old command, so ignore
		    return;
		}

		for (var sensor_type in window.charts) {
			window.charts[sensor_type].data.labels = replaceAllButLast(window.charts[sensor_type].data.labels, resp['labels']);

			for (var key in resp['data'])
			{
			    if (!(sensor_type in resp['data'][key]))
			        continue;

			    window.charts[sensor_type].data.datasets.forEach((dataset) => {
				if (dataset.key == key) {
				    dataset.data = replaceAllButLast(dataset.data, resp['data'][key][sensor_type]);
				}
				if (dataset.key == key + '_min') {
				    dataset.data = resp['data'][key][sensor_type + '_min'];
				}
				if (dataset.key == key + '_max') {
				    dataset.data = resp['data'][key][sensor_type + '_max'];
				}
			    });
			}
			window.charts[sensor_type].update();
		}

		// Update graph every minute
		graphUpdateTimeout = setTimeout(function(){showGraph(range)}, 60*1000);
	});
}
if (window.location.hash) {
    showGraph(window.location.hash.substring(1));
} else {
    showGraph('day');
}
</script>
<script>
$(document).ready(function() { 
updateAll();
$("ul.tabs").tabs({ onShow: function(tab) {
	showGraph(tab.attr('id'));
} });
})
</script>
</main>
{% endblock content %}
